<div class="results-block">
  <%= bootstrap_flash %>
</div>
<% if @stock %>
  <div class="card list-bg col-md-6 offset-md-3">
    <strong>Symbol: </strong><%= @stock.ticker %>
    <strong>Name: </strong><%= @stock.name %>
    <strong>Price: </strong><%= @stock.last_price %>
  </div>
<% end %>
